<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles?version=3.5.css') }}">
    <meta charset="UTF-8">
    <title>DNA to Protein Converter</title>
  </head>

  <body>
    <h1>DNA to Protein Converter</h1>
    <p><b>Note:</b> Be sure to enter both the start and end codons</p>
    <br>

    <form action="/dataEntered" method="post">
      <label for:"input">Enter DNA to convert:</label>
      <input type="text" name="input"></input>
      <input type="submit" id="button"></input>
    </form>
    <br>
    <p> {{ result }} </p>

    <div class="grid-container">
      <div class="grid-item">
        <h3>Glutamine</h3>
        <p><span class="extra">Glutamine has a molecular weight of 146.1 g/mol. It is neutral and nonpolar.</span></p>
      </div>
      <div class="grid-item">
        <h3>Histidine</h3>
        <p><span class="extra">Histidine has a molecular weight of 155.2 g/mol. It is positive and basic. It is one of the nine essential amino acids.</span></p>
      </div>
      <div class="grid-item">
        <h3>Proline</h3>
        <p><span class="extra">Proline has a molecular weight of 115.1 g/mol. It is neutral and nonpolar</span></p>
      </div>
      <div class="grid-item">
        <h3>Leucine</h3>
        <p><span class="extra">Leucine has a molecular weight of 131.2 g/mol. It is neutral and nonpolar. It is one of the nine essential amino acids.</span></p>
      </div>
      <div class="grid-item">
        <h3>Glycine</h3>
        <p><span class="extra">Glycine has a molecular weight of 75.1 g/mol. It is neutral and nonpolar.</span></p>
      </div>
      <div class="grid-item">
        <h3>Glutamic acid</h3>
        <p><span class="extra">Glutamic Acid has a molecular weight of 147.1 g/mol. It is negative and acidic.</span></p>
      </div>
      <div class="grid-item">
        <h3>Aspartic Acid</h3>
        <p><span class="extra">Aspartic Acid has a molecular weight of 133.1 g/mol. It is negative and acidic.</span></p>
      </div>
      <div class="grid-item">
        <h3>Alanine</h3>
        <p><span class="extra">Alanine has a molecular weight of 89.1 g/mol. It is neutral and nonpolar.</span></p>
      </div>
      <div class="grid-item">
        <h3>Valine</h3>
        <p><span class="extra">Valine has a molecular weight of 117 g/mol. It is nonpolar and neutral. It is one of the nine essential amino acids.</span></p>
      </div>
      <div class="grid-item">
        <h3>Serine</h3>
        <p><span class="extra">Serine has a molecular weight of 105.1g/mol. It is neutral and polar</span></p>
      </div>
      <div class="grid-item">
        <h3>Arginine</h3>
        <p><span class="extra">Arginine has a molecular weight of 174.2 g/mol. It is positive and basic.</span></p>
      </div>
      <div class="grid-item">
        <h3>Lysine</h3>
        <p><span class="extra">It is one of the nine essential amino acids.</span></p>
      </div>
      <div class="grid-item">
        <h3>Threonine</h3>
        <p><span class="extra">It is one of the nine essential amino acids.</span></p>
      </div>
      <div class="grid-item">
        <h3>Isoleucine</h3>
        <p><span class="extra">Isoleucine has a molecular weight of 131.2 g/mol. It is neutral and nonpolar. It is one of the nine essential amino acids</span></p>
      </div>
      <div class="grid-item">
        <h3>Methionine</h3>
        <p><span class="extra">It is one of the nine essential amino acids.</span></p>
      </div>
      <div class="grid-item">
        <h3>Cysteine</h3>
        <p><span class="extra">Cysteine has a molecular weight of 121.54 g/mol. It is neutral and nonpolar.</span></p>
      </div>
      <div class="grid-item">
        <h3>Trptophan</h3>
        <p><span class="extra">It is one of the nine essential amino acids.</span></p>
      </div>
      <div class="grid-item">
        <h3>Tyrosine</h3>
        <p><span class="extra">Tyrosine has a molecular weight of 181.2 g/mol. It is neutral and polar.</span></p>
      </div>
      <div class="grid-item">
        <h3>Serine</h3>
        <p><span class="extra">Serine has a molecular weight of 105.1g/mol. It is neutral and polar.</span></p>
      </div>
      <div class="grid-item">
        <h3>Phenylalanine</h3>
        <p><span class="extra">Phenylalanine has a molecular weight of 165.2 g/mol. It is neutral and nonpolar. It is one of the nine essential amino acids.</span></p>
      </div>
      <div class="grid-item">
        <h3>Leucine</h3>
        <p><span class="extra">Leucine has a molecular weight of 131.2 g/mol. It is neutral and nonpolar. It is one of the nine essential amino acids</span></p>
      </div>
    </div>

  </body>
</html>
