h1 {
  color:#191b1c;
}

body {
  color: #191b1c;
  text-align: center;
}

input {
  border-radius: 25px;
  padding: 5px;
}

button {
  border-radius: 25px;
  padding: 5px;
}

html {
  background-color:#a4d3eb;
}

form {
  display:flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr)
}

.grid-container div {
    border-style: solid;
    overflow: hidden;
    height:50px;
}

.grid-container div:hover {
  height: 300px;
}

p {
  color: #191b1c;
}
